html,body {
    margin: 0;
    padding: 0;
    background: #d0d5ee url('data:image/gif;base64,R0lGODlhBgAGAIABAP///wAAACH5BAEKAAEALAAAAAAGAAYAAAIJRB6geMuOYAMFADs') fixed;
    height: 100%;
}

#nav {
    position: absolute;
    background: rgba(255,255,255,0.8);
    padding: 3px 10px;
    width: calc(100% - 20px);
}

#slides {
    padding-top: 25px;
    height: calc(100% - 25px);
    display: inline-block;
}

#slides > * {
   background-color: white;
}

.error {
    text-align: center;
    margin-top: 200px;
    margin-left: calc(25% - 25px/2) ;
    margin-right: calc(25% - 25px/2) ;
    margin-bottom: auto;
    padding: 25px;
}

.thumbnailwrapouter {
    backround-color: white;
    height: 230px;
    width: 230px;
    border: 1px solid #ccc;
    margin: 10px;
    display: inline-block;
    text-align: center;
    -webkit-box-shadow: 6px 10px 13px -1px rgba(94,94,94,0.7);
    -moz-box-shadow: 6px 10px 13px -1px rgba(94,94,94,0.7);
    box-shadow: 6px 10px 13px -1px rgba(94,94,94,0.7);
}

.thumbnailinner {
    display: inline-block;
    height: 175px;
    width: 200px;
    margin-top: 15px;
    overflow: hidden;
}

.thumbnail {
    display: inline-block;
    vertical-align: middle;
}

.vahelper {
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

a.fancybox {
    text-decoration: none;
}

a.fancybox:active {
    outline: none;
}

.filename {
    display: block;
    text-decoration: none;
    color: #444;
    position: relative;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    font-size: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.parent::after {
    content: ' :: ';
}


#ctrlbox {
    display: block;
    z-index: 1000;
    position: absolute;
    top: 0;
    height: 50px;
    width: 120px;
    right: 0;
    margin-right: 50px;
    text-align: right;
    color: white;
    font-size: larger;
    font-weight: bold;
    cursor: pointer;
}

#ctrlbox i {
    padding: 15px;
}
